<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-xxl-6">
            <img class="productImage" [src]="currentProduct.image" alt="Product Image" width="550" height="550">
        </div>
        <div class="col-12 col-xxl-6 my-3">
            <h1>
                <a href="javascript:history.back()"><mat-icon>arrow_back_ios</mat-icon></a> {{currentProduct.title}}
            </h1>
            <small>{{currentProduct.description}}</small>
            <p class="mt-2 starsContainer">
                <p-rating [(ngModel)]="currentProduct.rating.rate" [readonly]="true" [cancel]="false"></p-rating>
                <span style="padding-left: 5px;">({{currentProduct.rating.count}})</span>
            </p>
            <hr>
            <h1 style="font-weight: 700; font-size: 1.5rem; font-family: 'Poppins', sans-serif">
                {{currentProduct.price | currency:"USD"}}
            </h1>
            <small>{{"Suggested payments with 6 months special financing!"|translate}}</small>
            <br>
            <hr><br>
            <div class="deliverySection">
                <h1 style="font-weight: 700; font-size: 1.1rem; font-family: 'Poppins', sans-serif">
                    <mat-icon style="padding-top: 6px;"> local_shipping</mat-icon> {{"Free Delivery"|translate}}
                </h1>
                <small>{{"Enter your postal code for delivery availability"|translate}}</small>
                <hr>
                <h1 style="font-weight: 700; font-size: 1.1rem; font-family: 'Poppins', sans-serif">
                    <mat-icon style="padding-top: 6px; fill: red;"> insert_drive_file</mat-icon>{{"Return Delivery"|translate}}
                </h1>
                <small>{{"Free 30 days delivery returns!"|translate}}</small>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn customBtn w-100" style="margin-right: 1rem;">{{"Buy Now"|translate}}</button>
                </div>
                <div class="col">
                    <button class="btn customBtn w-100">{{"Add to Cart"|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>