<p-toast key="toast2"></p-toast>

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center mb-5">
                <h1 style="font-weight: 700; font-size: 4rem; color: white; z-index: 1000; font-family: 'Tilt Prism', cursive;">THE SHOP HUB</h1>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="card">
                    <h1 style="font-weight: 700; font-size: 30px; font-family: 'Poppins', sans-serif;">{{"Login"|translate}}</h1>
                    <p class="loginText">{{"Hello again! Enter your details to login to your account."|translate}}</p>
                    <form class="example-form w-100" [formGroup]="form">
                        <div class="mb-3">
                            <label for="inputUsername" class="form-label">{{"Username"|translate}}</label>
                            <input type="text" class="form-control" formControlName="usernameFormControl"
                                id="inputUsername">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">{{"Password"|translate}}</label>
                            <input type="password" class="form-control" formControlName="passwordFormControl"
                                id="inputPassword">
                        </div>
                        <small>{{"Having trouble with sign in?"|translate}}</small>
                        <div class="my-4 text-center">
                            <button class="btn customBtn w-100" [disabled]="form.invalid" (click)="onSubmit()">{{"Sign In"|translate}}</button>
                        </div>
                        <div class="text-center">
                            <small>{{"Don't have an account?"|translate}} <strong>{{"Request now!"|translate}}</strong></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>