<div class="container my-5">
    <div class="row">
        <div class="col">
            <span class="brand">THE SHOP HUB</span>
            <div class="my-4" style="max-width: 500px;">
                <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci repellat tempora maiores
                    deleniti
                    ducimus! Dolore consectetur corporis, est perferendis molestiae vitae.</small>
            </div>
            <h2 style="font-weight: 600; font-size: 1.1rem; font-family: 'Poppins', sans-serif">Accepted Payments</h2>
            <img src="../../../assets/payments.png" alt="Payments">
        </div>
    </div>
</div>
<hr>
<div class="container my-3">
    <div class="row footerText">
        <div class="col-12 col-xxl-5 my-2">
            <span style="font-weight: 600;"><img style="padding-right: 5px;" src="../../../assets/bag.png" alt="Bag" width="30" height="25">Become Seller</span>
            <span style="font-weight: 600;"><img style="padding-right: 5px;" src="../../../assets/gift.png" alt="Gift" width="30" height="25">Gift Cards</span>
            <span style="font-weight: 600;"><img style="padding-right: 5px;" src="../../../assets/help.png" alt="Help" width="30" height="25">Help Center</span>
        </div>
        <div class="col-12 col-xxl-3 my-2">
            <span>Terms of Service</span>
            <span>Privacy & Policy</span>
        </div>
        <div class="col-12 col-xxl-4 my-2">
            <span>All rights reserved by Marawan Tarram | 2023</span>
        </div>
    </div>
</div>